<html>
    <head>
        <title> <%= title %> </title>
    </head>
    <link rel="stylesheet" href="/css/home.css">
    <body>
        <h1>Rendered From Ejs View!</h1>

        

        <script src="/js/home.js"></script>
    </body>
</html>