<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Welcome to playground</h1>
        <a href="./">HOME</a>

        <ul>
            <% for(let contact of contact_list) { %>
                <li>
                    <p>Name: <%= contact.name %></p>
                    <p>Number: <%= contact.number %> </p>
                </li>
            <% } %>
        </ul>
    </body>
</html>