*{
    margin:0;
    padding:0;
}
header{
    margin-top:4rem;
    width: 100%;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#fetchbtn{
    padding: 5px 30px;
    font-size: 22px;
}
#courselist{
    display: flex;
    gap:3;
    width:100%;
    flex-wrap: wrap;
}